<div class="form-wrapper">
  <div class="navbar">
    <%= render 'shared/logo' %>
    <%= button_to 'Logout', destroy_registration_session_path, method: :delete %>
  </div>
    <h3> Help us refine</br> your results </h3>
  <div class="form-minus-button">
  <%= simple_form_for @wage do |f| %>
    <%= f.error_notification %>
    <%= f.input :wage, label: false, placeholder: "Salary" %>
    <%= f.input :company, label: false, placeholder: "Company" %>
    <%= f.input :years_worked, label: false, placeholder: "Years worked" %>
    <%= f.input :field, label: false, placeholder: "Field" %>
  </div>
    <%= f.button :submit %>
  <% end %>
</div>
