<div class="preview-wrapper">

  <%= render 'shared/logo' %>

  <div class="preview-less-button">
  <h1 class="amount-money"> $  TO BE DETERMINED </h1>

  <h1 class="job-title-years"> for <%= params["years"] %> years as</br> a <%= @field["name"] %></h1>


   <%= image_tag("bills_phone.png")%>

  </div>
  <%= button_to "Get free report", new_registration_session_path, method: :get %>
</div>
