<div class="index-wrapper">
  <%= render 'shared/logo' %>
  <%= render 'shared/tabs' %>
  <div class="index-less-button">
<h2 class="company-average-header"> $<%= @company_avg %> </h2>
<h6> Is the average wage<br>
     for <%= current_user.wage.field.name %>s <br>
     at <%= current_user.wage.company.name %>  </h6><br>

<%= render 'shared/table' %>
<%= render 'shared/pagination' %>

</div>

<%= button_to 'Back to report', users_path, method: :get %>
</div>
