<div class="index-wrapper">
  <%= render 'shared/logo' %>
  <%= render 'shared/tabs' %>

  <% if @how_you_are_doing == 'doing well' %>
    <h2 class="doing_well"><%= @how_you_are_doing %></h2>
    <div id="badges-wrapper">
      <div id="your-wage">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h6>Your salary: <br><strong><%= number_with_delimiter(current_user.wage.wage) %>€</strong></h6>
      </div>

  <% else %>
    <h2 class="ask_more"><%= @how_you_are_doing %></h2>
    <div id="badges-wrapper">
      <div id="your-wage-bad">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h6>Your salary: <br><strong><%= number_with_delimiter(current_user.wage.wage) %>€</strong></h6>
      </div>
  <% end %>


    <div id="field-wage">
      <i class="fa fa-users" aria-hidden="true"></i>
      <h6>Field average: <br><strong><%= number_with_delimiter(@should_be_making) %>€</strong></h6>
    </div>
  </div>
    <button id="browse" class="btn">
    Projected Wage
  </button>
</div>





<div id="wage-progression-wrapper">
  <div class="wage-row-wrapper-header">
    <h6 class="years-header"> Years </h6>
    <h6 class="projected-years-header"> Projected salary </h6>
  </div>
  <div class="wage-row-wrapper">
    <div class="year-circle">1</div>
    <div class="projected-wage"><%= number_with_delimiter(@yr_1)%>€</div>
  </div>
   <div class="wage-row-wrapper">
    <div class="year-circle">2</div>
    <div class="projected-wage"><%= number_with_delimiter(@yr_2)%>€</div>
  </div>
   <div class="wage-row-wrapper">
    <div class="year-circle">3</div>
    <div class="projected-wage"><%= number_with_delimiter(@yr_3)%>€</div>
  </div>
   <div class="wage-row-wrapper">
    <div class="year-circle">4</div>
    <div class="projected-wage"><%= number_with_delimiter(@yr_4)%>€</div>
  </div>
   <div class="wage-row-wrapper">
    <div class="year-circle">5</div>
    <div class="projected-wage"><%= number_with_delimiter(@yr_5)%>€</div>
  </div>
  <div class="wage-row-wrapper">
    <div class="year-circle">10</div>
    <div class="projected-wage"><%= number_with_delimiter(@yr_10)%>€</div>
  </div>
</div>

  <%= button_to 'Logout', destroy_registration_session_path, method: :delete %>

