<div class="index-wrapper">
  <%= render 'shared/logo' %>
  <%= render 'shared/tabs' %>

  <% if @how_you_are_doing == 'doing well' %>
    <h2 class="doing_well"><%= @how_you_are_doing %></h2>
  <% else %>
    <h2 class="ask_more"><%= @how_you_are_doing %></h2>
  <% end %>
  <div id="badges-wrapper">
    <div id="your-wage">
      <h6>Your salary: <br><strong><%= number_with_delimiter(current_user.wage.wage) %>€</strong></h6>
    </div>
    <div id="field-wage">
      <h6>Field average: <br><strong><%= number_with_delimiter(@should_be_making) %>€</strong></h6>
    </div>
  </div>
    <button id="browse" class="btn">
    Wage Progression
  </button>
</div>





<div id="wage-progression-wrapper">
  <div class="wage-row-wrapper">
    <div class="year-circle">1</div>
    <div class="projected-wage">45,312€</div>
  </div>
   <div class="wage-row-wrapper">
    <div class="year-circle">1</div>
    <div class="projected-wage">45,312€</div>
  </div>
</div>

    <h6> Your wage now <strong>$<%= current_user.wage.wage %></strong></h6>
    <h6> In 5 years <strong>$<%= @yr_5 %></strong></h6>
    <h6> In 10 years <strong>$<%= @yr_10 %></strong> </h6>
  <%= button_to 'Logout', destroy_registration_session_path, method: :delete %>

